.flexBlock {
  display: flex;
}

.sheetProduct {
  margin: 50px;
}

.sheetProductName {
  margin: 2rem auto 10px 10px;
}

.sheetProductDescriptionHead {
  margin: 1rem 2rem;
}

.sheetProductDescriptionResume {
  margin: 2rem;
}

.sheetProductImg {
  width: 50%;
  margin-left: 0px;
}

#priceProduct {
  margin: 2rem;
}

.btnBasket {
  width: 100px;
  margin: 1rem 15rem;
}
